/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 0.5rem;
  border-bottom: .05rem solid #777;;
}

/* Make the masthead heading the same height as the navigation */
.header h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}



/* Customize container */
@media (min-width: 50em) {
  .container {
    max-width: 75rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: left;
  border-bottom: .05rem solid #fff;
  height: auto;
  padding: 1rem;
  border-radius: .5rem;

}
.jumbotron .btn .btn-lg .btn-success{
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}


/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.form-control{
  height: 75px;
  resize: 10px;
}
/*Aggiunta modifica dello stile per il paragrafo*/
p.output{
  word-wrap: break-word;
  color: #007bff;
  font-size: 23px;
  font-weight: bold;
}

td{
  word-wrap: break-word;
}

table{
  table-layout: fixed;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .2rem 3rem;
    font-weight: bold;
    font-size: 2rem;
    border-radius: .5rem;
    position: relative;
    vertical-align: bottom;

}
.custom-control-label::before, .custom-file-label, .custom-select{
  border-radius: .5rem;
}

.checkBlocked{
  margin-left:25%;
  height:1rem;
  width:1rem;
}

.checked{
  height:1rem;
  width:1rem;
}
